*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header, #risultati {
  margin: 20px;
}

.info-lingua img {
  width: auto;
  height: 15px;
}

#risultati-film {
  width: 50%;
  height: 100vh;
}

#risultati-serietv {
  background-color: yellow;
}
