*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Oswald', sans-serif;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 100px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

#logo, #input {
  width: 25%;
}

#input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

input {
  padding: 8px;
  width: 75%;
}

button {
  padding: 10px;
  width: 20%;
  border-radius: 2px;
  cursor: pointer;
}

header div h1 {
  color: red;
}

input, button {
  color: black;
}

/* MAIN */

main {
  background-color: grey;
  height: calc(100vh - 100px);
  overflow: scroll;
}

#main {
  width: 90%;
  margin: auto;
}

ul {
  margin-top: -300px;
  display: none;
}

ul li {
  list-style-type: none;
}

ul li .title {
  font-weight: bold;
}

ul li:nth-child(1){
  margin-bottom: 10px;
}

.info-poster:hover {
  cursor: pointer;
  opacity: 0.3;
}

.info-poster:hover ul {
  display: block;
}

.info-tipo {
  font-weight: bold;
  font-size: 1.2em;
  background-color: red;
  padding: 5px;
}

.elemento {
  width: calc(100%/3);
  height: 100vh;
  flex-shrink: 0;
  padding: 10px;
  text-align: center;
}

.elemento div {
  padding: 20px;
}

.info-lingua img {
  width: auto;
  height: 15px;
}

.info-voto i {
  color: red;
}

#risultati-film, #risultati-serietv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
